@{
    ViewBag.Username = User.Identity.Name;
}
<div class="row">
    <div class="col-md-2 hidden-sm hidden-xs">
        <img src="../../Images/medico.png" width="100%" height="100%" style="float: left; padding-right: 10px; padding-top:12px"/>
    </div>
    <div class="col-md-10">
        <h1>@ViewBag.UserName</h1>
        <h2>@ViewBag.Entidad</h2>
    </div>
</div>
