@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <a href='@Url.Action("Index", "ManageAccount")'><img src="~/Images/logo.png" class="img-logo" /></a>
    @Html.ActionLink("Optica All in One", "Index", "ManageAccount", new { area = "" }, new { @class = "navbar-brand" })
}
else
{
    <a href='@Url.Action("Index", "Home")'><img src="~/Images/logo.png" class="img-logo" /></a>
    @Html.ActionLink("Optica All in One", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
}